@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  color: #333;
  font: 300 16px/1.7 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background: #eee;
  padding: 1em;
}

article, form {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: #ccc 0px 2px 2px 0px;
  padding: 1em;
  margin: 0.5em 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

header div:last-child {
  text-align: right;
}

.pure-button {
  margin-top: 22px;
  background: #0066cc;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

form {
  display: none;
}

/**
 * Animation in order to highlight new tweets
 * Used this at a previous project:
 * https://github.com/alexanderGugel/Odin/blob/master/static/css/main.css
 */

@keyframes highlight {
  from {
    background: #0066cc;
  }
  to {
    background: #fff;
  }
}

@-webkit-keyframes highlight {
  from {
    background: #0066cc;
  }
  to {
    background: #fff;
  }
}

article small {
  -webkit-animation: highlight 5s;
          animation: highlight 5s;
}
